@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');/*font-family: 'Oswald'*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald';
}

body{
    background-color: rgb(50, 50, 50);
}

main{
    background-color: rgb(249, 249, 249);
    width: 60em;
    height: 43em;
    padding: 0.8em;
    margin: auto;
    border-radius: 0.8em;
    box-shadow: 0px 0px 20px black;
}
#div_pag {
    background-color: rgb(249, 249, 249);
    width: 7em;
    height: 3em;
    padding: 0.8em;
    margin: auto;
    border-radius: 0.8em;
    box-shadow: 0px 0px 20px black;
    flex-direction: row;
}
.paragrafos{
    padding: 1em;
    font-size: 1.2em;
    text-indent: 1em;
}

#logo{
    flex-direction: row;
    justify-content: center;
}

.paginas{
    text-align: center;
    padding: em;
}